/* .content{
    display:flex;
    justify-content: space-between;
}
li{
    text-decoration: none;
}
.statstics-content{
    display:none;
}
.eligibility-content{
    display:none;
}
.benifits-content{
    overflow: hidden;
    height: 0;
    transition: all 1s;
}
p{
    display:none;
}
.show{
    height: max-content;
}
h2{
    margin:50px;
    padding:8px 8px 8px 8px;
    text-align: center;;
    height:50px;
    width:200px;
    border: 2px solid rgb(231, 222, 222);
    border-radius:20px;
}
.footer{
    height: 500px;
    background: grey;
} */








.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.aim-content p {
    display: none;
    font-size: large;
}

.full-content {  
    box-shadow: 0 0 10px 2px rgb(217, 217, 217);
    border-radius: 5px;
    overflow: hidden;
    height: max-content;
    margin: 20px;
    padding: 20px;
}



.aim-content h2{
    min-width: 200px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.aim-content {
    display: flex;
    cursor: pointer;
}

.show {
    display: block !important;
    width: max-content;
}

.footer{
    height: 500px;
    background: gray;
}

.beni p {
    display: none;
    font-size: large;
}
.beni h2{
    min-width: 200px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.beni {
    display: flex;
    cursor: pointer;
}
.eligi p {
    display: none;
    font-size: large;
}
.eligi h2{
    min-width: 200px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.eligi{
    display: flex;
    cursor: pointer;
}
.stati p {
    display: none;
    font-size: large;
}
.stati h2{
    min-width: 200px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.stati {
    display: flex;
    cursor: pointer;
}
